<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
  <div (click)="viewScheduledTests()">
    <a class="navbar-brand" style="color: #fff; cursor: pointer">Test Now</a>
  </div>

  <!-- Links -->
  <ul class="navbar-nav">
    <li *ngIf="userDetails" class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbardrop"
        data-toggle="dropdown"
        style="color: aquamarine"
      >
        Welcome User : {{ userDetails.fullName }}
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="onLogout()">Log Out</a>
      </div>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
