
<div style="text-align:center; margin-top: 10px;">
  <h1>
    Add Test
  </h1>
 </div>
 <div style="margin:20px 50px 20px 50px;">
<form #selectionform="ngForm" (ngSubmit)="onSubmit(selectionform)">
  <div *ngIf="showSelection">
    <div class="form-group">
      <label for="selection">Department</label>
        <select (change)="onDepartmentChange($event)" [(ngModel)]="selectedDepartmentID" name="selectedDepartmentID" class="form-control"> 
          <option [selected]="selectedDepartmentID == 'select'" [value]="select">SELECT Department</option>  
          <option  *ngFor="let dep of departments"  [value]="dep._id">{{dep.departmentName}}</option>
        </select>
    </div>
    <div *ngIf="showCourses" class="form-group">
      <label for="selection">Course</label>
        <select (change)="onCourseChange($event)" [(ngModel)]="selectedCourseID" name="selectedCourseID" class="form-control"> 
          <option [selected]="selectedCourseID == 'select'" [value]="select">SELECT Course</option>  
          <option  *ngFor="let course of courses"  [value]="course._id">{{course.courseTitle}}</option>
        </select>
    </div>
    <div *ngIf="showSubjects" class="form-group">
      <label for="selection">Subject</label>
        <select [(ngModel)]="selectedSubjectID" name="selectedSubjectID" class="form-control"> 
          <option [selected]="selectedSubjectID == 'select'" [value]="select">SELECT Subject</option>  
          <option  *ngFor="let subject of subjects"  [value]="subject._id">{{subject.subjectName}}</option>
        </select>
    </div>
    
   <div class="form-group">
      <input type="submit" class="form-control btn btn-success" id="inputdefault">
    </div>
  </div>
</form>
  <div *ngIf="showExamDetails">
    <form #examDetailsForm="ngForm" (ngSubmit)="onDetailsSubmit(examDetailsForm)">
      <div class="form-group">
        <label for="question">Test Code</label>
        <input type="text" name="testCode" #testCode="ngModel" ngModel [(ngModel)]="test.testCode" class="form-control" id="inputdefault" placeholder="Test Code">
      </div>
      <div class="form-group">
        <label for="question">Test Name</label>
        <input type="text" name="testName" #testName="ngModel" ngModel [(ngModel)]="test.testName" class="form-control" id="inputdefault" placeholder="Test Name">
      </div>
      <div class="form-group">
        <label for="selection">Test Date</label>
        <input (click)="d.toggle()" class="form-control" placeholder="dd-mm-yyyy"  
        name="examDate" [(ngModel)]="test.testDate" ngbDatepicker #d="ngbDatepicker">  
      </div>
      <div class="form-group">
        <label for="selection">Start Time</label>
        <input atp-time-picker type="time" [value]="viewStartTime" (focusin)="open('startTime')" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="selection">End Time</label>
        <input atp-time-picker type="time" [value]="viewEndTime" (focusin)="open('endTime')" class="form-control"/>
      </div>
      <div class="form-group">
        <input type="submit" class="form-control btn btn-success" id="inputdefault">
      </div>
    </form>  
  </div>
</div>

