<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center ">
    <!-- Brand -->
    <div (click)="viewScheduledTests()">
      <a class="navbar-brand" style="color: #fff; cursor: pointer;">Test Now</a>
    </div>
    <!-- Links -->
    <ul class="navbar-nav">
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Department
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="Adddepartment">Add Department</a>
          <a class="dropdown-item" routerLink="ViewDepartment">View Department</a>
        </div>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Courses
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="AddCourse">Add Course</a>
          <a class="dropdown-item" routerLink="ViewCourse">View Course</a>
        </div>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Subjects
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="AddSubject">Add Subject</a>
          <a class="dropdown-item" routerLink="ViewSubject">View Subject</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Question
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="Addq">Add Question</a>
          <a class="dropdown-item" routerLink="Viewq">View Question</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Test
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="AddTest">Add Test</a>
          <a class="dropdown-item" routerLink="ViewTest">View Test</a>
        </div>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="viewuser">View Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="result">Result</a>
      </li> -->

      <li *ngIf="userDetails" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color:aquamarine">
          Welcome Admin : {{userDetails.fullName}}
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="onLogout()">Log Out</a>
        </div>
      </li>

    </ul>
  </nav>

<router-outlet></router-outlet>
