<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center ">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Test Now</a>
  
    <!-- Links -->
    <ul class="navbar-nav">
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Department
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="Adddepartment">Add Department</a>
          <a class="dropdown-item" routerLink="ViewDepartment">View Department</a>
        </div>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Courses
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="AddCourse">Add Course</a>
          <a class="dropdown-item" routerLink="ViewCourse">View Course</a>
        </div>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Subjects
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="AddSubject">Add Subject</a>
          <a class="dropdown-item" routerLink="ViewSubject">View Subject</a>
        </div>
      </li>
  
      <!-- Dropdown -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Category
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="AddCategory">Add Category</a>
          <a class="dropdown-item" routerLink="ViewCategory">View Category</a>
        </div>
      </li> -->

      <!--Food Menu
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Food
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="AddFood">Add Food</a>
          <a class="dropdown-item" routerLink="ViewFood">View Food</a>
        </div>
      </li>

      End Food Menu-->
      <!--question menu-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Question
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="Addq">Add Question</a>
          <a class="dropdown-item" routerLink="Viewq">View Question</a>
        </div>
      </li>
      <!--Question menu -->
      <!--question menu-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Test
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="AddTest">Add Test</a>
          <a class="dropdown-item" routerLink="ViewTest">View Test</a>
        </div>
      </li>
      <!--Question menu -->
      <li class="nav-item">
        <a class="nav-link" routerLink="viewuser">View Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="result">Result</a>
      </li>

      <li *ngIf="userDetails" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color:aquamarine">
          Welcome Admin : {{userDetails.fullName}}
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="onLogout()">Log Out</a>
        </div>
      </li>

    </ul>
  </nav>
<router-outlet></router-outlet>
