<div style="text-align: center; margin-top: 10px">
  <h1>Update Department</h1>
</div>
<div style="margin: 20px 50px 20px 50px">
  <form #departmentForm="ngForm" (ngSubmit)="onEdit(departmentForm)">
    <input
      type="hidden"
      name="_id"
      #_id="ngModel"
      ngModel
      [(ngModel)]="selectedDepartment._id"
    />
    <div class="form-group">
      <label for="department">Department Code</label>
      <input
        required
        type="text"
        name="departmentCode"
        #departmentCode="ngModel"
        ngModel
        [(ngModel)]="selectedDepartment.departmentCode"
        [ngClass]="{
          'is-invalid':
            !departmentCode?.valid &&
            (departmentCode?.dirty || departmentCode?.touched)
        }"
        class="form-control"
        id="inputdefault"
        placeholder="Department Code"
      />
      <div
        *ngIf="
          !departmentCode?.valid &&
          (departmentCode?.dirty || departmentCode?.touched)
        "
        class="invalid-feedback"
      >
        <span style="color: crimson">Department code is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="department">Department Name</label>
      <input
        required
        type="text"
        name="departmentName"
        #departmentName="ngModel"
        ngModel
        [(ngModel)]="selectedDepartment.departmentName"
        [ngClass]="{
          'is-invalid':
            !departmentName?.valid &&
            (departmentName?.dirty || departmentName?.touched)
        }"
        class="form-control"
        id="inputdefault"
        placeholder="Department Name"
      />
      <div
        *ngIf="
          !departmentName?.valid &&
          (departmentName?.dirty || departmentName?.touched)
        "
        class="invalid-feedback"
      >
        <span style="color: crimson">Department name is required</span>
      </div>
    </div>
    <div class="form-group">
      <input
        [disabled]="!departmentForm.valid"
        type="submit"
        class="form-control btn btn-success"
        id="inputdefault"
      />
    </div>
  </form>
</div>
