<div style="text-align: center; margin-top: 10px">
  <h1>Update Test</h1>
</div>
<div style="margin: 20px 50px 20px 50px">
  <form #examDetailsForm="ngForm" (ngSubmit)="onEdit(examDetailsForm)">
    <div class="form-group">
      <label for="question">Test Code</label>
      <input
        required
        type="text"
        name="testCode"
        #testCode="ngModel"
        ngModel
        [(ngModel)]="selectedTest.testCode"
        class="form-control"
        id="inputdefault"
        placeholder="Test Code"
        [ngClass]="{
          'is-invalid':
            !testCode?.valid && (testCode?.dirty || testCode?.touched)
        }"
      />
      <div
        *ngIf="!testCode?.valid && (testCode?.dirty || testCode?.touched)"
        class="invalid-feedback"
      >
        <span style="color: crimson">Test code is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="question">Test Name</label>
      <input
        required
        type="text"
        name="testName"
        #testName="ngModel"
        ngModel
        [(ngModel)]="selectedTest.testName"
        class="form-control"
        id="inputdefault"
        placeholder="Test Name"
        [ngClass]="{
          'is-invalid':
            !testName?.valid && (testName?.dirty || testName?.touched)
        }"
      />
      <div
        *ngIf="!testName?.valid && (testName?.dirty || testName?.touched)"
        class="invalid-feedback"
      >
        <span style="color: crimson">Test name is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="selection">Test Date</label>
      <input
        required
        (click)="d.toggle()"
        class="form-control"
        placeholder="dd-mm-yyyy"
        name="examDate"
        #examDate="ngModel"
        [(ngModel)]="selectedTest.testDate"
        ngbDatepicker
        #d="ngbDatepicker"
        [ngClass]="{
          'is-invalid':
            examDate?.invalid && (examDate.dirty || examDate.touched)
        }"
      />
      <div
        *ngIf="examDate?.invalid && (examDate?.dirty || examDate?.touched)"
        class="invalid-feedback"
      >
        <span style="color: crimson">Test date is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="selection">Start Time</label>
      <input
        atp-time-picker
        type="time"
        [value]="viewStartTime"
        (focusin)="open('startTime')"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="selection">End Time</label>
      <input
        atp-time-picker
        type="time"
        [value]="viewEndTime"
        (focusin)="open('endTime')"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <input
        [disabled]="!examDetailsForm.valid"
        type="submit"
        class="form-control btn btn-success"
        id="inputdefault"
      />
    </div>
  </form>
</div>
