
<div class="container" style="margin:20px;float: left;">
  <div class="row">
    <div class="col-md-12">
        <div class="card border-success">
          <div class="card-header">Question</div>
          <div class="card-body">
              <div>
                  <form #questionform="ngForm" (ngSubmit)="onAnswer(questionform)">
                    <input type="hidden" name="qid"  [(ngModel)]="questions[0]._id">
              
                    <table style="width:100%;background-color: azure;">
                      <tr>
                        <td>{{questions[0].questionDescription}}</td>
                      </tr>
                      <tr>
                        <td><input type="radio" name="uanswer" value="{{questions[0].optionOne}}" [(ngModel)]="uanswer" > {{questions[0].optionOne}}</td>
                        <td><input type="radio" name="uanswer" value="{{questions[0].optionTwo}}" [(ngModel)]="uanswer"> {{questions[0].optionTwo}}</td>
                      </tr>
                      <tr>
                        <td><input type="radio" name="uanswer" value="{{questions[0].optionThree}}" [(ngModel)]="uanswer"> {{questions[0].optionThree}}</td>
                        <td><input type="radio" name="uanswer" value="{{questions[0].optionFour}}" [(ngModel)]="uanswer"> {{questions[0].optionFour}}</td>
                        <input type="hidden" name="canswer"  [(ngModel)]="questions[0].correctAnswer">
                        <input type="hidden" name="marks"  [(ngModel)]="questions[0].marks"> 
                        <input type="hidden" name="category_id"  [(ngModel)]="questions[0].subjectDetails._id"> 
                      </tr>
                      <tr style="text-align: center;">
                        <td colspan="2"><input type="submit" value="submit"></td>
                      </tr>
                    </table>
                    </form>
                  </div>
          </div>
        </div>
    </div>
  </div>
</div>
