<div style="text-align: center; margin-top: 10px">
  <h1>Add Course</h1>
</div>
<div style="margin: 20px 50px 20px 50px">
  <form #courseForm="ngForm" (ngSubmit)="onSubmit(courseForm)">
    <div class="form-group">
      <label for="department">Department</label>
      <select
        required
        [(ngModel)]="course.departmentDetails"
        name="department"
        #department="ngModel"
        ngModel
        [ngClass]="{
          'is-invalid':
            !department?.valid && (department?.dirty || department?.touched)
        }"
        class="form-control"
      >
        <option disabled selected value="undefined">Select department</option>
        <option *ngFor="let dep of departments" [ngValue]="dep">
          {{ dep.departmentName }}
        </option>
      </select>
      <div
        *ngIf="!department?.valid && (department?.dirty || department?.touched)"
        class="invalid-feedback"
      >
        <span style="color: crimson">Department is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="course">Course Code</label>
      <input
        required
        type="text"
        name="courseCode"
        #courseCode="ngModel"
        ngModel
        [(ngModel)]="course.courseCode"
        [ngClass]="{
          'is-invalid':
            !courseCode?.valid && (courseCode?.dirty || courseCode?.touched)
        }"
        class="form-control"
        id="inputdefault"
        placeholder="Course Code"
      />
      <div
        *ngIf="!courseCode?.valid && (courseCode?.dirty || courseCode?.touched)"
        class="invalid-feedback"
      >
        <span style="color: crimson">Course code is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="course">Course Name</label>
      <input
        required
        type="text"
        name="courseName"
        #courseName="ngModel"
        ngModel
        [(ngModel)]="course.courseTitle"
        [ngClass]="{
          'is-invalid':
            !courseName?.valid && (courseName?.dirty || courseName?.touched)
        }"
        class="form-control"
        id="inputdefault"
        placeholder="Course Name"
      />
      <div
        *ngIf="!courseName?.valid && (courseName?.dirty || courseName?.touched)"
        class="invalid-feedback"
      >
        <span style="color: crimson">Course name is required</span>
      </div>
    </div>
    <div class="form-group">
      <input
        [disabled]="!courseForm.valid"
        type="submit"
        class="form-control btn btn-success"
        id="inputdefault"
      />
    </div>
  </form>
</div>
